---
---

@import "{{ site.theme }}";

#forkme_banner, .copyright {
  display: none;
}

#main_content_wrap {
  background: #FFFFFF;
}

body {
  font-size: 18px;
}

img {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}
