---
---

@import "{{ site.theme }}";

#forkme_banner, .copyright {
  display: none;
}

#main_content_wrap {
  background: #FFFFFF;
}

body {
  font-size: 18px;
}

img {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}

.inner {
  max-width: 800px;
}

.floaty-menu {
  border: 1px solid #222222;
  width: 250px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  float: right;
}
